Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
/api-dokumentaatio.html
/links/currencyService.ts
/links/healthPulseService.ts
/links/orderService.ts
/links/paytrailservice.ts
/links/productService.ts
/cleanup.patch
